.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/build
/CMakeFiles
CMakeCache.txt
/curl
.cache
/soulver
/examples/repl/repl
/swift/.build
